.debug{
    min-height: 50px;
    background-color: #00fc3f3d;
    border: 1px solid #000;
}

.mc-jumbotron{
    /* height: 500px; */
    background-color: #00c3fe6c;
}

.mc-container{
    width: 70%;
    margin: 0 auto;
    max-width: 1200px;
}

#portfolio .col-sm-6.col-lg-4{
    height: 100px;
}


